:root {
  --h2-font-family: "Kanit", serif;
  --html-background-color: #fff;
  --rocket-size: 48px;
  --rocket-width: var(--rocket-size);
  --rocket-height: var(--rocket-size);
  --front-end-optimizing-css-font-family: "Playfair Display", serif;
  --optimizing-css-color: #ffffff;
  --border: 1px solid #f5f5f5;
  --read-full-text-font-family: "Roboto", serif;
  --text-ago-text-color: #6e6e6e;
  --front-end-color: #4b4b4b;
}

.container,
.container--css-variables {
  position: relative;
}

.container {
  height: 296px;
  margin-top: 48px;
  padding: 8px;
}

.container,
.header-padding,
.position {
  box-sizing: border-box;
}

.container,
html,
.position-thee-card {
  width: 1144px;
}

.header-padding,
.position {
  padding: 10px;
}

a {
  text-decoration: none;
}

h2 {
  font-family: var(--h2-font-family);
  margin: 8px 0px;
}

html {
  height: 100px;
  margin: 0 auto;
  background-color: var(--html-background-color);
}

.rocket,
.optimizing-css {
  position: absolute;
}

.rocket,
.text-big,
.front-end-small {
  display: flex;
}

.rocket {
  width: var(--rocket-width);
  height: var(--rocket-height);
  left: 24px;
  top: 64px;
  line-height: 57px;
  align-items: center;
  font-size: 200%;
}

.front-end,
.optimizing-css {
  font-family: var(--front-end-optimizing-css-font-family);
}

.optimizing-css {
  width: 434px;
  height: 96px;
  left: 24px;
  top: 136px;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
  color: var(--optimizing-css-color);
}

.border {
  border: var(--border);
  border-radius: 5px;
}

.img-optimization-css {
  width: 500px;
  height: 280px;
  float: left;
  box-sizing: content-box;
}

.img-wh {
  width: 330px;
  height: 200px;
}

.social {
  margin-top: 30px;
}

.position {
  width: 350px;
  height: 402px;
}

.first-card {
  margin-right: 43px;
}

.position-thee-card {
  margin-top: 52px;
}

.front-end-big {
  font-weight: 700;
}

.read-full,
.text,
.front-end {
  font-size: 12px;
  line-height: 14px;
}

.read-full,
.text {
  font-family: var(--read-full-text-font-family);
}

.time_ago,
.text {
  color: var(--text-ago-text-color);
}

.text {
  font-weight: 400;
  margin: 0;
}

.text-big {
  padding-left: 16px;
}

.front-end-small,
.read-full {
  font-weight: 500;
}

.front-end {
  color: var(--front-end-color);
  margin-bottom: 0;
}

.position-read-full-big,
.position-time-ago-big {
  margin-top: 90px;
}

.read-full-float,
.last-card,
.social {
  float: right;
}

.position-read-full,
.position-time-ago {
  margin-top: 40px;
}

.position-time-ago-big {
  margin-left: 16px;
}

.time-ago-float,
.position {
  display: inline-block;
}
