
html{
  box-sizing: border-box;
  width: 1440px;
  height: 935px;
  position: 
}

.wrapper{
  width: 1140px;
  height: 935px;
  margin: 0 auto;
  position:relative
}
.logo {
  width: 80px;
  height: 80px;
  position: absolute;
  display: inline-block;
  

} 

.ul_menu {
  width: 200px;
  height: 20px;
  position: absolute;
  padding-left: 1100px;

